.formbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.formbox > div {
    width: 100%;
    margin: 5px;
}

.formbox > div > * {
    width: 100%;
}

.formbox > div > button {
    font-size: 1.2rem;
}